/* CSS 초기화 */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
  font-size: 14px;
  color:#222;
  letter-spacing:-1px;
  word-spacing:-2px;
}

body button{
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222
}
address {
  font-style: normal;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}


/* notice css */

.notice_box{
  width: 1200px;
  margin: 60px auto 80px;
  display: flex;
  justify-content: space-between;
}

.notice_box1 h2{
  font-size:28px;
  padding-bottom: 40px;
}

.notice_box ul{
  border: 1px solid rgb(242, 242, 242);
}

.notice_txt1_color1, .notice_txt1_color2, .notice_txt1_color3{
width:230px;
height:55px;
padding-left:20px;
line-height: 55px;
display:block;
color: rgb(102, 102, 102);
box-sizing: border-box;
}

.notice_box1_txt1, .notice_box1_txt2{
  border-bottom: 1px solid rgb(242, 242, 242);
}

.notice_txt1_color3{
  background-color: rgb(247, 247, 247);
  color:#1b8e1d;
}








.notice_box2{
  width:930px;
}

.notice_box2 h3{
  font-size:24px;
  font-weight: bold;
  padding-bottom: 44px;
}

.notice_box2_content td{
  text-align: center;
  padding: 20px 0;
  color: rgb(76, 76, 76);
  border-collapse: collapse;
  border-bottom: 1px solid rgb(242, 242, 242);
}


.notice_box2_content .notice_box2_content_title{
  text-align: left;
  padding: 0px 10px;
}

.notice_box2_content .notice_box2_content_title a{
  color: rgb(76, 76, 76);
}



.notice_box2_content_title{
  text-align: left;
}




.notice_box2 table{
  border-collapse: collapse;
}



.notice_box2_title{
  width: 930px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-collapse : collapse;
  box-sizing: border-box;
}

.notice_box2_title th{
  padding: 20px 0;
  color: rgb(51, 51, 51);
}

.notice_box2_title .no{
  width: 60px;
}

.notice_box2_title .n_title{
  width: 480px;
}

.notice_box2_title .writer{
  width: 130px;
}

.notice_box2_title .w_date{
  width: 200px;
}

.notice_box2_title .cnt{
  width: 60px;
}















/* 
.notice_box2{
  width:930px;
}

.notice_box2 h3{
  font-size:24px;
  font-weight: bold;
  padding-bottom: 44px;
}

.notice_box2_txt{
  width:650px;
  display:block;
  height:62px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
  box-sizing: border-box;
}

.notice_box2_txt th{
display: block;
padding: 20px 0;
line-height: 20px;
font-weight: normal;
font-size: 12px;
}


.notice_box2_txt{
  text-align: center;
}

.notice_box2 .no{
  display:block;
  width: 50px;
  text-align: center;
}

.notice_box2 .n_title{
  width: 250px;
  text-align: center;
}

.notice_box2 .write{
  width: 100px;
  text-align: center;
}

.notice_box2 .w_date{
  width: 150px; 
  text-align: center;
}

.notice_box2 .cnt{
  width: 30px;
  text-align: center;
} */












.btn_box{
  padding-top: 20px;
  display: flex;
  justify-content: end;
}

.btn_box button{
  width:120px;
  height: 42px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #1b8e1d;
  background-color: #1b8e1d;
  box-sizing: border-box;
  transition: 0.3s;
}

.btn_box button:hover{
  background-color: #84a86c;
  border:1px solid #84a86c;
  color: #fff;
}




.pager{
  width: 930px;
  padding:20px 0;
  text-align: center;
}

.pager a{
  margin: 0 5px;
}


/* jq addClass */

.notice_side_hover{
  background: rgb(247, 247, 247);
  color:#1b8e1d;
}
